{%- set name = positional_args[0] | default("") -%}
{%- set url = positional_args[1] | default("") -%}
{%- set desc = positional_args[2] | default(name) -%}
{%- set logo = positional_args[3] | default("/images/default-avatar.webp") -%}
<link rel="stylesheet" href="/css/site-card.css">
<a href="{{ url }}"{% if url is startingwith("http") %} rel="noopener" target="_blank"{% endif %} class="site-link">
  <div class="site-card">
    <div class="site-logo-wrapper">
      <img src="{{ logo }}" alt="{{ name }}" class="site-logo" loading="lazy">
    </div>
    <div class="site-content-wrapper">
      <div class="site-name">{{ name }}</div>
      <div class="site-desc">{{ desc }}</div>
    </div>
  </div>
</a>
